<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hello! I am Nico, from Chile. I graduated with a bachelor's degree in Civil Engineering in Mining in 2021.
           I worked for one year as a geophysical data processing engineer before moving to Dublin, Ireland, in 2022 
           to expand my horizons and learn English at University College Dublin. After two years immersed in Ireland's 
           culture, I moved to Bristol to achieve my next goal: an MSc in Computer Science. I am eager to choose a new 
           career path that will help me gain a comprehensive vision of technology and the world.</p>
      </div>
      <div class="col-lg-4">
        <p>This is the beginning of a new adventure. I want to share this with the world and with my future self. My 
          current focus is on the MSc Computer Science course at the University of Bristol, knowing that this will be 
          an excellent year for growth. I couldn't be happier to open new doors and explore new paths along this quest!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
